
@font-face {
    font-family: 'Funnel Display';
    src: url(../fonts/Funnel_Display/FunnelDisplay-VariableFont_wght.ttf);
}

body {
    font-family: 'Funnel Display';
}

.unmute-button {
    border: none;
    padding: 1rem;
    width: 7rem;
    font-size: 1rem;
    font-family: 'Funnel Display';
    border-radius: 5px;
    background-color: #d1e3f0;
}
.unmute-button:hover {
    background-color: #bddbee;
}
.unmute-button:active {
    background-color: #70b3e3;
    transform: scale(95%);
}