:root {
    --primary-color: #d6811a;
    --secondary-color: #ac600e;
    --code-bg-color: #464241;
    --code-highlight: #ffdba4;
    --font-family: 'Funnel Display', sans-serif;
}

@font-face {
    font-family: 'Funnel Display';
    src: url(../fonts/Funnel_Display/FunnelDisplay-VariableFont_wght.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    padding-top: 50px;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
    width: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h1 {
    font-size: 3rem;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 60%;
    background-color: whitesmoke;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    width: 80%;
}

.content h2 {
    color: var(--secondary-color);
    font-size: 2.5rem;
}

.content p, li {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
}

.content li {
    margin-left: 20px;
}

.content h3 {
    color: var(--code-bg-color);
    font-size: 1.8rem;
    margin-top: 20px;
}

footer {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    margin-bottom: 50px;
    text-align: center;
    width: 60%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

footer p {
    margin-bottom: 10px;
    font-size: 1rem;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}

.code-block {
    background-color: var(--code-bg-color);
    color: white;
    font-family: monospace;
    font-size: 1rem;
    padding: 20px;
    border-radius: 5px;
}

.code-highlight {
    color: var(--code-highlight);
    font-weight: bold;
    font-family: monospace;
    transition: all 0.3s ease;
}
.code-highlight:hover {
    background-color: var(--primary-color);
    color: white;
}

iframe {
    width: 100%;
    min-height: 200px;
    border: solid 1px #969696;
    border-radius: 10px;
}

.iframe-large {
    min-height: 400px;
}