:root {
    --primary-color: #e41f1f;
    --secondary-color: #ac2b0e;
    --code-bg-color: #464241;
    --code-highlight: #ff8d79;
    --comment-color: #9d9d9d;

    --font-family: 'Funnel Display', sans-serif;

    --wrapper-width: 60%;
    --content-width: 80%;
}

@font-face {
    font-family: 'Funnel Display';
    src: url(../fonts/Funnel_Display/FunnelDisplay-VariableFont_wght.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    padding-top: 50px;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
    width: var(--wrapper-width);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h1 {
    font-size: 3rem;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: var(--wrapper-width);
    background-color: whitesmoke;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    width: var(--content-width);
}

.content h2 {
    position: relative;
    color: var(--secondary-color);
    font-size: 2.5rem;
}
.content h2::after {
    content: "";
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: gray;
}

.content p, li {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
}

.content li {
    margin-left: 20px;
}

.content h3 {
    color: var(--code-bg-color);
    font-size: 1.8rem;
    margin-top: 20px;
}

footer {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    margin-bottom: 50px;
    text-align: center;
    width: var(--wrapper-width);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

footer p {
    margin-bottom: 10px;
    font-size: 1rem;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}

p code, li code {
    background-color: var(--code-bg-color);
    color: white;
    font-family: monospace;
    padding: 1px 4px;
    border-radius: 3px;
    white-space: nowrap;
}

li {
    margin-bottom: 1rem;
}

.code-block {
    background-color: var(--code-bg-color);
    color: white;
    font-family: monospace;
    font-size: 1rem;
    padding: 20px;
    border-radius: 5px;
    overflow-x: scroll;
    font-family: monospace;
}

.code-block code {
    font-family: 'Courier New', Courier, monospace;
}

.code-highlight {
    color: var(--code-highlight);
    font-weight: bold;
    font-family: monospace;
    transition: all 0.3s ease;
}
.code-highlight:hover {
    background-color: var(--primary-color);
    color: white;
}

.comment {
    color: var(--comment-color);
}

iframe {
    width: 100%;
    min-height: 200px;
    border: solid 1px #969696;
    border-radius: 10px;
}

.iframe-large {
    min-height: 400px;
}

.css-input {
    min-height: 400px;
}

.inline-demo {
    outline: 2px solid var(--secondary-color);
    position: relative;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    gap: 2rem;
}

img {
    width: 100%;
    height: auto;
    border: none;
}

@media (max-width: 1300px) {
    :root {
        --wrapper-width: 70%;
    }
}

@media (max-width: 800px) {
    :root {
        --wrapper-width: 100%;
        --content-width: 100%;
    }

    .wrapper {
        padding-top: 0;
    }

    header {
        border-radius: 0;
    }

    footer {
        margin-bottom: 0;
        border-radius: 0;
    }
}